/* Ustawienia konta */
#nav-account {
    width: 20%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#aside-account {
    width: 70%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2vh;
    text-shadow: 1px 1px 5px #000;
    color: #FFF;
}

.a-account {
    width: 80%;
    text-align: center;
    padding: 2vh 1vw;
    border: 1px solid black;
    transition: border-radius, background-color, border-bottom 0.25s ease-in-out;
    -webkit-transition: border-radius, background-color, border-bottom 0.25s ease-in-out;
    -moz-transition: border-radius, background-color, border-bottom 0.25s ease-in-out;
    -ms-transition: border-radius, background-color, border-bottom 0.25s ease-in-out;
    -o-transition: border-radius, background-color, border-bottom 0.25s ease-in-out;
    color: #FFF;
    text-decoration: none;
    font-size: 1.2em;
    box-sizing: border-box;
}

.a-account:hover {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgba(51, 8, 103, 0.5);
    border-bottom: 0.2em solid #30cfd0;
}

.account-text {
    width: 100%;
    text-align: center;
    color: #FFF;
}

.form-account {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}

.label {
    width: 20vw;
    text-align: center;
    border-bottom: 2px solid #30cfd0;
    box-sizing: border-box;
    padding: 2vh 1vw;
    margin-bottom: 2vh;
    position: relative;
    font-size: 1.5em;
    text-shadow: 2px 4px 3px #000;
    color: #30cfd0;
}

.label::after {
    content: '';
    display: block;
    position: absolute;
    width: 20vw;
    height: 2px;
    background-color: #330867;
    bottom: -2vh;
}

.input-account {
    width: 20vw;
    margin-top: 2vh;
    background: transparent;
    color: #FFF;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 1.4em;
    text-align: center;
    padding: 0.3em 0.2em;
}

.submit-account {
    width: 20vw;
    padding: 2vh 1vw;
    box-sizing: border-box;
    margin: 2vh 0;
    cursor: pointer;
    font-size: 1.4em;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border: 1px solid black;
    color: #FFF;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.submit-account:hover {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #30cfd0;
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: 4px #330867 solid;
}

.select-account {
    appearance: none;
    text-align-last: center;
}

.select-account option {
    background-color: #000;
    color: #FFF;
}

/* Histtoria zamówień */

.order-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2vh;
    padding: 2vh 1vw;
    box-sizing: border-box;
}

.order-container:last-child {
    margin-bottom: 2vh;
}

.order-number,
.order-data {
    text-align: center;
    font-size: 1.5em;
    border-bottom: 2px solid #330867;
    padding: 1vh 0.5vw;
    box-sizing: border-box;
}

.order-data {
    border-bottom: 2px solid #30cfd0;
}

.order-game {
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #30cfd0, #330867);
    margin-top: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.order-game-cover {
    height: 100%;
    width: auto;
}

.order-game-cover img {
    height: 100%;
    width: auto;
}

.order-game-title,
.order-game-quantity,
.order-game-price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
    text-decoration: none;
    color: #FFF;
}

.order-game-title {
    position: relative;
}

.order-game-title:hover::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 35%;
    width: inherit;
    height: 4px;
    background: linear-gradient(45deg, #30cfd0 0%, #330867 100%);
    animation: loadingBar 0.25s ease-in-out;
    -webkit-animation: loadingBar 0.25s ease-in-out;
}

@keyframes loadingBar {
    from {
        width: 0%;
    } to {
        width: inherit;
    }
}

.order-game-title {
    width: 50%;
    cursor: pointer;
}

.order-game-quantity {
    width: 10%;
}

.order-game-price {
    width: 20%;
}

/* Ocena gier */
.game-rating-container {
    width: 90%;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #30cfd0, #330867);
    margin-top: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.game-rating-container:last-child {
    margin-bottom: 2vh;
}

.game-rating {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
}

.form-star {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.star {
    display: none;
}

.label-star::before {
    content: '\2606';
    position: absolute;
    color: gold;
    font-size: 1.8em;
    top: calc(50% - 0.2em);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer;
    text-shadow: 1px 2px 0px brown;
}

.star:checked ~ .label-star::before,
.star:hover ~ .label-star::before {
    content: '\2605';
}

.star:disabled:hover ~ .label-star::before {
    content: '\2606' !important;
    cursor: default;
}

.star:disabled:checked ~ .label-star::before {
    content: '\2605' !important;
}

.star:checked ~ .label-star::before {
    cursor: default;
}

.submit-rating {
    width: 4vw;
    height: 6vh;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    color: #FFF;
    border: none;
    border: 1px solid #000;
    transition: border 0.25s ease-in-out;
    -webkit-transition: border 0.25s ease-in-out;
    -moz-transition: border 0.25s ease-in-out;
    -ms-transition: border 0.25s ease-in-out;
    -o-transition: border 0.25s ease-in-out;
}

.submit-rating:hover {
    border: 1px solid gold;
}

/* Zwrot gry */
.form-return {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game-return-submit {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: #FFF;
    border: none;
    width: 8vw;
    height: 6vh;
    border: 1px solid black;
    font-size: 1.3em;
    transition: border-color 0.25s ease-in-out;
    -webkit-transition: border-color 0.25s ease-in-out;
    -moz-transition: border-color 0.25s ease-in-out;
    -ms-transition: border-color 0.25s ease-in-out;
    -o-transition: border-color 0.25s ease-in-out;
}

.game-return-submit:hover {
    border-color: red;
}